:root {
  --c1: #d8f3dc;
  --c2: #b7e4c7;
  --c3: #95d5b2;
  --c4: #74c69d;
  --c5: #52b788;
  --c6: #40916c;
  --c7: #2d6a4f;
  --c8: #1b4332;
  --c9: #081c15;
}

html,
body {
  margin: 0;
  height: 100%;
  background-color: var(--c7);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
}

#heading_div {
  flex: 1;
  height: 100%;
  background-color: var(--c8);
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  border-left: 2px solid #000;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;

  display: flex;
  justify-content: center;
}

#body_div {
  display: flex;
  margin: 0.3%;
  gap: 0.3%;
  flex: 9;
  background-color: var(--c7);
}

#teams_div,
#fields_div,
#settings_div {
  background-color: var(--c6);
  flex: 1;
  border: 2px solid black;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#teams_div:hover,
#fields_div:hover,
#settings_div:hover {
  background-color: var(--c5);
  border: 3px solid black;
  box-shadow: 1px 1px var(--c8);
}

table,
td,
th {
  flex: 1;
  border: 1px solid;
}
td {
  background-color: var(--c6);
}
th {
  background-color: var(--c8);
  border: 2px solid;
}

#footer_div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0.3%;
  gap: 0.3%;
  flex: 1;
}

#footer_div input,
select {
  flex: 1 1;
  background-color: var(--c5);
  border: 1px solid;
  border-radius: 9px;
}

#footer_div input:focus {
  border: 1px solid black;
  border-radius: 9px;
  outline: none;
}

.numbers_entry_div {
  display: flex;
  flex-direction: row;
  flex: 1 1 0;
  min-width: 0;
}

.numbers_entry_div button {
  flex: 1 1 0;
  border: 0px;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

#footer_div .numbers_entry_div .minus_button {
  border-left: 1px solid;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#footer_div .numbers_entry_div .plus_button {
  border-right: 1px solid;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#footer_div .numbers_entry_div input {
  flex: 9 1 0;
  border: 0px;
  border-radius: 0px;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.numbers_entry_div > * {
  background-color: var(--c5);
  min-width: 0;
}
