<!doctype html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='styles/tables.css') }}
"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='styles/tables_inputs.css') }}
"
    />
    <title>Équipes</title>
  </head>

  <body>
    <table id="table">
      <tr id="skip">
        <th>Nom/Identifiant</th>
        <th>Portion</th>
        <th>Périodes</th>
      </tr>
      <tr id="entry">
        <td>
          <input type="text" class="field_id" />
        </td>
        <td>
          <select name="portions" class="field_portion">
            <option value="Terrain entier">Terrain entier</option>
            <option value="Demi terrain">Demi terrain</option>
            <option value="Quart de terrain">Quart de terrain</option>
          </select>
        </td>
        <td></td>
      </tr>
    </table>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/tables.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/fields.js') }}"
    ></script>
  </body>
</html>
