<!doctype html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='styles/index.css') }}
"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='styles/index_utils.css') }}
"
    />
    <title>Gestionnaire d'équipe</title>
  </head>
  <body>
    <div id="heading_div">
      <h1>Gestionnaire d'équipes</h1>
    </div>
    <div id="body_div">
      <div id="files">
        <div class="clickable" id="load_file">Charger un fichier</div>
        <div class="clickable" id="save_file">Sauvegarder</div>
      </div>
      <div id="preview"></div>
    </div>
    <div id="footer_div">
      <div class="clickable" id="teams_div">Équipe</div>
      <div class="clickable" id="fields_div">Terrains</div>
      <!-- <div class="clickable" id="settings_div">Paramètres</div> -->
      <div class="clickable" id="fit_div">Lancer</div>
    </div>
  </body>
  <script
    type="text/javascript"
    src="{{ url_for('static', filename='js/index.js') }}"
  ></script>
  <noscript>Sorry, your browser does not support JavaScript!</noscript>
</html>
