:root {
  --c1: #d8f3dc;
  --c2: #b7e4c7;
  --c3: #95d5b2;
  --c4: #74c69d;
  --c5: #52b788;
  --c6: #40916c;
  --c7: #2d6a4f;
  --c8: #1b4332;
  --c9: #081c15;
}

html,
body {
  margin: 0;
  height: 100%;
  background-color: var(--c7);
}
body {
  display: grid;
  grid-template-columns: 3% repeat(7, 13.86%);
  grid-template-rows: repeat(51, 1.97%);
}

.day {
  background-color: var(--c6);
  border: 1px solid;
  grid-row: span 2;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hour {
  grid-row: span 2;

  display: flex;
  justify-content: right;
  align-items: center;
  padding: 3px;

  border-right: 1px solid;
}

.filler {
  background-color: var(--c5);
  border: 1px solid;
  grid-row: span 2;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
}

.filler:hover {
  background-color: var(--c4);
}
