:root {
  --c1: #d8f3dc;
  --c2: #b7e4c7;
  --c3: #95d5b2;
  --c4: #74c69d;
  --c5: #52b788;
  --c6: #40916c;
  --c7: #2d6a4f;
  --c8: #1b4332;
  --c9: #081c15;
}

table {
  width: 100%;
  height: 100%;
  border: 1px solid;
  border-collapse: collapse;
  table-layout: fixed;
}
td,
th {
  border: 1px solid;
  height: 20px;
  max-height: 20px;
  overflow: hidden;
}

td {
  background-color: var(--c6);
}
th {
  background-color: var(--c8);
}

tr.row_selected * {
  background-color: var(--c7);
}

tr:not(.row_selected) button {
  opacity: 0;
}

tr:not(.row_selected) select {
  appearance: none;
}

#entry * {
  background-color: var(--c4);
}

#entry select {
  appearance: auto;
}

#entry button,
tr.row_selected button {
  opacity: 1;
  background-color: var(--c3);
}
