td input,
select {
  background-color: var(--c6);
  height: 100%;
  width: 96%;
  border: 0px;
  outline: none;
  display: flex;
  text-align: center;
}

button {
  flex: 1 1 0;
  border: 1px solid;
  background-color: var(--c5);
  height: 100%;
  margin-bottom: 0;
}

button:hover:enabled {
  background-color: var(--c6);
}

.numbers_entry_div {
  display: flex;
  flex-direction: row;
  flex: 1 1 0;
  height: 100%;
}

.numbers_entry_div button:active {
  flex: 1 1 0;
  border: 1px solid;
}
