#footer_div input,
select {
  flex: 1 1;
  background-color: var(--c5);
  border: 1px solid;
  border-radius: 9px;
}

#footer_div input:focus {
  border: 1px solid black;
  border-radius: 9px;
  outline: none;
}

.numbers_entry_div {
  display: flex;
  flex-direction: row;
  flex: 1 1 0;
  min-width: 0;
}

.numbers_entry_div button {
  flex: 1 1 0;
  border: 0px;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

#footer_div .numbers_entry_div .minus_button {
  border-left: 1px solid;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#footer_div .numbers_entry_div .plus_button {
  border-right: 1px solid;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#footer_div .numbers_entry_div input {
  flex: 9 1 0;
  border: 0px;
  border-radius: 0px;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.numbers_entry_div > * {
  background-color: var(--c5);
  min-width: 0;
}
